## 1. Libraries

In [46]:
import pandas as pd
import numpy as np
import re

#visualisation Libraries
#import matplotlib.pyplot as plt
#import seaborn as sns
#import plotly.express as px
#%matplotlib inline

#Libraries to build model
from sklearn.model_selection import train_test_split
from sklearn.linear_model  import LogisticRegression
from sklearn.tree   import DecisionTreeClassifier
from sklearn.ensemble  import AdaBoostClassifier
from sklearn.metrics  import confusion_matrix ,accuracy_score, precision_score,recall_score
from sklearn.metrics import classification_report, roc_curve, f1_score,roc_auc_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.preprocessing import LabelEncoder
from skfeature.function.similarity_based import fisher_score
#from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from datetime import date
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, VotingClassifier, StackingClassifier
import warnings
warnings.filterwarnings("ignore")

from imblearn.over_sampling import RandomOverSampler, SMOTE, ADASYN
from imblearn.combine import SMOTETomek

## 2. Problem Statement

Bank wants to improve its term deposit subscription rate by accurately predicting which of its clients will subscribe to a 
term deposit. The bank has a large client database that includes various demographic, financial, and transactional
information about its clients. However, despite this information, the bank still struggles to predict which clients 
will subscribe to a term deposit, leading to missed opportunities and reduced profits. The goal of this project is to 
develop a machine learning model that can accurately predict which clients are likely to subscribe to a term deposit. 
This will enable the bank to target its marketing efforts more effectively, resulting in increased term deposit 
subscriptions and higher profits.

## 3.Data Gathering

In [47]:
bnk_mark_df = pd.read_csv(r"D:\Data science\project\ML\New folder\bank-full.csv")
bnk_mark_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,passed_days,previous,previous_outcome,offer_status
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

## 4. Pre-processing

In [74]:
def pre_processing(bnk_mark_df): 
    
    #AGE 
    bnk_mark_df['age'] = np.where(bnk_mark_df['age']>=70 ,bnk_mark_df['age'].median(),bnk_mark_df['age'])
    encoder=LabelEncoder()
    
    #JOB
    bnk_mark_df['job']=encoder.fit_transform(bnk_mark_df['job'])
    bnk_mark_df['job']
    
    #MARITAL
    bnk_mark_df['marital'].replace({'married': 0, 'single': 1, 'divorced': 2}, inplace=True)
    
    #EDUCATION
    bnk_mark_df['education'].replace({'secondary': 2, 'tertiary': 3, 'primary':1, 'unknown':0}, inplace=True)
    bnk_mark_df['education'] = np.where(bnk_mark_df['education']<=0.5 ,bnk_mark_df['education'].median(),bnk_mark_df['education'])
    
    #DEFAULT
    bnk_mark_df['default'].replace({'no': 0, 'yes': 1}, inplace=True)
    
    #BALANCE
    bnk_mark_df['balance'] = np.where(bnk_mark_df['balance']>=45000 ,bnk_mark_df['balance'].median(),bnk_mark_df['balance'])
    bnk_mark_df['balance'] = np.where(bnk_mark_df['balance']<=-2000 ,bnk_mark_df['balance'].median(),bnk_mark_df['balance'])
    
    #HOUSNING
    bnk_mark_df['housing'].replace({'no': 0, 'yes': 1}, inplace=True)
    
    #LOAN
    bnk_mark_df['loan'].replace({'no': 0, 'yes': 1}, inplace=True)
    
    #CONTACT
    bnk_mark_df['contact'].replace({'cellular': 1, 'unknown': 2, 'telephone': 3}, inplace=True)
    
    #MONTH
    bnk_mark_df['month'].replace({'may': 5,
     'jul': 7,
     'aug': 8,
     'jun': 6,
     'nov': 11,
     'apr': 4,
     'feb': 2,
     'jan': 1,
     'oct': 10,
     'sep': 9,
     'mar': 3,
     'dec': 12}, inplace=True)
    
    #DURATION
    bnk_mark_df['duration'] = np.where(bnk_mark_df['duration']>=3000 ,bnk_mark_df['duration'].median(),bnk_mark_df['duration'])
    
    #CAMPAIGN
    bnk_mark_df['campaign'] = np.where(bnk_mark_df['campaign']>=45 ,bnk_mark_df['campaign'].median(),bnk_mark_df['campaign'])
    
    #PREVIOUS
    bnk_mark_df['previous'] = np.where(bnk_mark_df['previous']>=45 ,bnk_mark_df['previous'].median(),bnk_mark_df['previous'])
    
    #PREVIOUS_OUTCOME
    bnk_mark_df['previous_outcome'].replace({'unknown': 3, 'failure': 0, 'other': 2, 'success': 1}, inplace=True)
    
    #OFFER_STATUS
    bnk_mark_df['offer_status'].replace({'no': 0, 'yes': 1}, inplace=True)
     
    #CSV
    
    pre_process_df.to_csv(r'C:\Users\Prathamesh\Desktop\project_bank\Data\clean_df.csv')
    return bnk_mark_df
pre_process_df = pre_processing(bnk_mark_df)
pre_process_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,passed_days,previous,previous_outcome,offer_status
0,58.0,4,0,3.0,0,2143.0,1,0,2,5,5,261.0,1.0,-1,0.0,3,0
1,44.0,9,1,2.0,0,29.0,1,0,2,5,5,151.0,1.0,-1,0.0,3,0
2,33.0,2,0,2.0,0,2.0,1,1,2,5,5,76.0,1.0,-1,0.0,3,0
3,47.0,1,0,2.0,0,1506.0,1,0,2,5,5,92.0,1.0,-1,0.0,3,0
4,33.0,11,1,2.0,0,1.0,0,0,2,5,5,198.0,1.0,-1,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51.0,9,0,3.0,0,825.0,0,0,1,17,11,977.0,3.0,-1,0.0,3,1
45207,39.0,5,2,1.0,0,1729.0,0,0,1,17,11,456.0,2.0,-1,0.0,3,1
45208,39.0,5,0,2.0,0,5715.0,0,0,1,17,11,1127.0,5.0,184,3.0,1,1
45209,57.0,1,0,2.0,0,668.0,0,0,3,17,11,508.0,4.0,-1,0.0,3,0
45210,37.0,2,0,2.0,0,2971.0,0,0,1,17,11,361.0,2.0,188,11.0,2,0